<!-- ##### Trending Posts Area Start ##### -->
<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>Trending Videos</h4>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Blog Post -->
            <div class="col-12 col-md-4">
                <div class="single-post-area mb-80">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="../static/img/bg-img/11.jpg" alt="">

                        <!-- Video Duration -->
                        <span class="video-duration">05.03</span>
                    </div>

                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="#" class="post-cata cata-sm cata-success">Sports</a>
                        <a href="single-post.html" class="post-title">Warner Bros. Developing ‘The accountant’ Sequel</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 16</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-md-4">
                <div class="single-post-area mb-80">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="../static/img/bg-img/12.jpg" alt="">

                        <!-- Video Duration -->
                        <span class="video-duration">05.03</span>
                    </div>

                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="#" class="post-cata cata-sm cata-danger">Game</a>
                        <a href="single-post.html" class="post-title">Searching for the 'angel' who held me on Westminste Bridge</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 28</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 17</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-md-4">
                <div class="single-post-area mb-80">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="../static/img/bg-img/13.jpg" alt="">

                        <!-- Video Duration -->
                        <span class="video-duration">05.03</span>
                    </div>

                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="#" class="post-cata cata-sm cata-primary">Business</a>
                        <a href="single-post.html" class="post-title">Love Island star's boyfriend found dead after her funeral</a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 38</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Trending Posts Area End ##### -->